$main-bg-color: #323876;
$sidebar-bg-color: #3543bf;
$header-bg-color: #389981;
$footer-bg-color: #ebbe0c;
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  // grid-template-rows: auto;
  min-height: 100vh;
  grid-template-areas: "header" "left" "main" "right" "footer";
  .main {
    background: $main-bg-color;
    grid-area: main;
  }
  .header {
    background: $header-bg-color;
    grid-area: header;
  }
  .sidebar {
    background: $sidebar-bg-color;
  }
  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }
  .footer {
    background: $footer-bg-color;
    grid-area: footer;
  }
  @media screen and (min-width: 480px) {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px auto 80px;
    grid-template-areas: "header header header" "left left left" "main main right" "footer footer footer";
  }
  @media screen and (min-width: 900px) {
    grid-template-areas: "header header header" "left main right" "footer footer footer";
  }
}